<h1 style="color: darkgreen">Hello from
    {% if app.user %}
        <p style="color: rebeccapurple">{{ app.user.email }}</p>

        {% else %}
                <p style="color: red">anonymous user</p>
    {% endif %}
</h1>