{% extends 'base.html.twig' %}

{% block body %}
    <h1>Test Page</h1>

    <div class="form-group">
        <h1 style="color: red">the format for export is {{ format }}</h1>
    </div>
{% endblock %}