{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contacts</h1>
    <div style="display: inline-grid">
        <div style="display: inline-flex;">
            <p>Phone Number</p>
            <p style="margin-left: 20px; color: #5eb5e0">+373-785-537-08</p>
        </div>

        <div style="display: inline-flex;">
            <p>Email</p>
            <p style="margin-left: 20px; color: #5eb5e0">jobeet@jobeet.com</p>
        </div>

        <div style="display: inline-flex;">
            <p>Address</p>
            <p style="margin-left: 20px; color: #5eb5e0">Chisinau, Moldova, Bul. Stefan cel Mare si Sfant 205</p>
        </div>
    </div>
    <h2></h2>
{% endblock %}
